
target/minibase-1.0.0-jar-with-dependencies.jar

*.class

src/main/java/ed/inf/adbs/.DS_Store

src/main/java/ed/inf/.DS_Store

src/main/java/ed/inf/adbs/minibase/.DS_Store

target/

data/minimization/output/

data/evaluation/test_db/
